<h1 align = "center">New capability for place</h1>

<%= render 'form' %>

<h4 align = "center"><%= link_to 'Back', capabilities_places_path %></h4>
</br><h4 align="center"><a href="/edit_queries">Home page</a></h4>
