<h1 align="center">Editing capability</h1>

<%= render 'form' %>

<h4 align = "center"><%= link_to 'Show', @capability %></h4>
<h4 align = "center"><%= link_to 'Back', capabilities_path %></h4>
</br><h4 align="center"><a href="/edit_queries">Home page</a></h4>