<h1 align="center">Editing place</h1>

<%= render 'form' %>

<h4 align = "center"><%= link_to 'Show', @place %></h4>
<h4 align = "center"><%= link_to 'Back', places_path %></h4>
</br><h4 align="center"><a href="/edit_queries">Home page</a></h4>